










































.big-banner{
	background-image: url(../image/banner.jpg);
	background-size: 100%;
	border-radius: 0px;
}
.bg-media{
	background-image: linear-gradient(to right, #761e52, #932557, #af2f58, #c93c56, #e14d52);
	
}
